<head>
	<title><%= title %> | Uplifting Counseling Services, LLC</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="">
	<meta name="google-site-verification" content="1eKRzkm6tEPgn7J9S6EoS9si1qyuszYoBjSNz6J7Wck" />
	<meta name="author" content="" />

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <!--<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />-->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/app.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/css/print.css" media="print" />
	<link rel="stylesheet" href="/js/plugins/datepicker/datepicker.css" type="text/css" />
	<link rel="stylesheet" href="/js/libs/css/ui-lightness/jquery-ui-1.9.2.custom.css" type="text/css" />
	<link rel="stylesheet" href="/js/plugins/magnific/magnific-popup.css" type="text/css" />
  <link rel="icon" sizes="192x192" href="/images/uplifiting_icon.ico"> 
	<script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/moment.js"></script>
	<!-- Include socket.io -->
  <script src="/js/socket.io.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<script src="https://www.paypal.com/sdk/js?client-id=AdwIHTxs-swDXd7ePb8v_-oRhczSkbQnZKX3CvDncZHwX62-yF5082vH4zPs0Ov4yUan-TIhe-wWOqLe"></script>
  <meta content="text/html; charset=utf-8">
<style>
	#header {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.nav.navbar-nav.navbar-nav li a {
    	color: #52028E;
	}
	a {
		color: #9900BF;
	}
  a:hover {
    color: rgb(200, 7, 248);
  }
	.nav.navbar-nav.navbar-nav>.active>a {
    	background-color: rgb(8, 132, 194);
      border-bottom: 3px solid rgb(0, 90, 134);
	}
  .nav.navbar-nav.navbar-nav a:hover {
    	background-color: rgb(0, 139, 209);
      border-bottom: 3px solid rgb(2, 107, 160);
	}
	body {
		background-color: white;
	}
	
	.portlet .portlet-content {
		border: 1px solid rgb(150, 145, 145);
	}
  .dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
  margin-top: 0;
  background: rgb(113, 206, 252);
}
.navbar .dropdown-menu>.active>a {
	background-color:  rgb(8, 132, 194);
}

</style>
	<div id="header-wrapper" class="header-wrapper" style="background:rgb(225, 231, 233); height: auto; display: flex; color: #52028E">
    <header class="col-md-12" style="font-size:15px; background: rgb(225, 231, 233); height: auto; display: flex; text-align:center;">
      <a  href="/"><img src="/images/uplifitng_logo.png" height= 120 width=240 style="margin-left: 300px; margin-top: 30px; margin-bottom: 30px;"></a>	
        <br><h2 style="font-family: Snell Roundhand, cursive; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px;"></h2>
        <div class="textwidget custom-html-widget" style= "text-align: left; margin-right: 250px; float: right; margin-top: 20px">
         <br> <p style="display: flex"><button style ="margin-right: 10px; margin-left: 10px" type="button" class="btn btn-info" onclick="window.location.href = 'Contact';">Contact Now</button>
          <button type="button" class="btn btn-info" onclick="window.location.href = 'Appointment';">Schedule Appointmennt</button></p>
          <p style="margin-left: 10px; color: #52028E;" class="bottom1">Address: Ewing, New Jersey<br> Currently Avaiable for online clients only.
          <br>
          <a href="mailto:www@upliftingcounselingservices.com"><i class="fa fa-envelope"></i> www@upliftingcounselingservices.com</a> |
          <a href="tel:(609) 248-0291"><i class="fa fa-phone"></i> (609) 248-0291</a></p>
        </div>
  </header>

</div>
<nav class="navbar navbar-default" style="text-align: center; font-size:18px; background: rgb(113, 206, 252); border-bottom:rgb(2, 116, 173) solid 2px">
  <div class="container-fluid">
    <div class="navbar-header">
    <a style= "color: purple" class="navbar-brand">Uplifting Counseling Services, LCC</a>
    <a style= "color: rgb(113, 206, 252)" class="navbar-brand"></a>
    </div>
    <ul id="menu" class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Services">Services</a></li>
    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="/Services/AOF">Areas of Focus <b class="caret"></b></a>
       <ul class="dropdown-menu">
         <li><a href="/Services/AOF/Preteens">Preteens/Tweens (11 to 13)</a></li>
         <li><a href="/Services/AOF/Teens">Adolescents/Teenagers (14 to 19)</a></li>
         <li><a href="/Services/AOF/Adults">Adults</a></li>
         <li><a href="/Services/AOF/Elderly">Elderly</a></li>
         <li><a href="/Services/AOF/Disabilities">Persons with Mild and Moderate Developmental/Intellectual Disabilities</a></li>
      </ul>
    </li>
    <li><a href="/ConsentForms">Intake Forms and Consents</a></li>
    <li><a href="/MakePayements">Make a Payment</a></li>
    <li><a href="/Contact">Contact Me</a></li>
    <li><a href="/Blog">Blog</a></li>
    <li><a href="/Schedule">Schedule</a></li>
    </ul>
  </div>
  </nav>
<br>
<body>
  <%- body -%>
  <div class="footer-wrapper"> <!-- footer wrapper -->
    <hr>
    <div id="avaiability" class="col-md-6 col-md-offset-3" style="border: 2px transparent solid;color:#52028E; font-size: 20px; background-color: rgb(88, 197, 252);  border-radius: 10px;">
      <h2 style="padding: 15px; color:white">Avaiability</h2>
      <hr>
      <div id="day_monday" class="col-md-2 col-md-offset-1" style="padding: 20px">
        Monday:
      </div>
      <div id="time_monday" class="col-md-9" style="background-color: white; padding: 20px; border: 2px transparent solid;color:purple; text-align: center; margin-bottom: 30px; border-radius: 10px;">
        9:00 AM - 5:00 PM
      </div>
      <br>
      <br>
			<br>
      <div id="day_tuesday" class="col-md-2 col-md-offset-1" style="padding: 20px;">
        Tuesday:
      </div>
      <div id="time_tuesday" class="col-md-9" style="background-color: white; padding: 20px; border: 2px transparent solid;color:purple; text-align: center; margin-bottom: 30px; border-radius: 10px;">
        9:00 AM - 5:00 PM
      </div>
      <br>
      <br>
		  <br>
      <div id="day_wednsday" class="col-md-2 col-md-offset-1" style="padding: 20px;">
        Wednsday:
      </div>
      <div id="time_wednsday" class="col-md-9" style="background-color: white; padding: 20px; border: 2px transparent solid;color:purple; text-align: center; margin-bottom: 30px; border-radius: 10px;">
        9:00 AM - 5:00 PM
      </div>
      <br>
      <br>
      <div id="day_thursday" class="col-md-2 col-md-offset-1" style="padding: 20px;">
        Thursday:
      </div>
      <div id="time_thursday" class="col-md-9" style="background-color: white; padding: 20px; border: 2px transparent solid;color:purple; text-align: center; margin-bottom: 30px; border-radius: 10px;">
        9:00 AM - 5:00 PM
      </div>
      <br>
      <br>
      <div id="day_friday" class="col-md-2 col-md-offset-1" style="padding: 20px;">
        Friday:
      </div>
      <div id="time_friday" class="col-md-9" style="background-color: white; padding: 20px; border: 2px transparent solid;color:purple; text-align: center; margin-bottom: 30px; border-radius: 10px;">
        9:00 AM - 5:00 PM
      </div>
      <br>
      <br>
      <div id="day_satruday" class="col-md-2 col-md-offset-1" style="padding: 20px;">
        Saturday:
      </div>
      <div id="time_saturday" class="col-md-9" style="background-color: white; padding: 20px; border: 2px transparent solid;color:purple; text-align: center; margin-bottom: 30px; border-radius: 10px;">
        9:00 AM - 5:00 PM
      </div>
      <br>
      <br>
      <div id="day_sunday" class="col-md-2 col-md-offset-1" style="padding: 20px;">
        Sunday:
      </div>
      <div id="time_sunday" class="col-md-9" style="background-color: white; padding: 20px; border: 2px transparent solid;color:purple; text-align: center; margin-bottom: 30px; border-radius: 10px;">
        9:00 AM - 5:00 PM
      </div>
      <br>
      <br>
    </div>
    <br>
  
    <br>

    <footer>
      <div class="col-md-8 col-md-offset-2" style="color:#52028E">
        <hr>
        <h3 style="display: inline;">Useful Links</h3>
        <h3 style="margin-right: 250px; float: right;">Contact</h3><br><hr>
        <ul style="list-style-type: none; float: left; padding: 0px;">
          <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="/About"><i class="fa fa-info-circle"></i> About</a></li>
          <li><a href="/Contact"><i class="fa fa-address-book"></i>  Contact</a></li>
          <li><a href="/Blog"><i class="fa fa-rss-square"></i> Blog</a></li>
        </ul>
        <div style="float: right; padding: 10px; height: auto; width: auto">
          <ul style="float:right; margin-right: 75px; list-style-type: none;">
            <li><a href="tel:(609) 248-0291"><i class="fa fa-phone"></i> (609) 248-0291</li></a>
            <li><a href="mailto:www@upliftingcounselingservices.com"><i class="fa fa-envelope"></i> www@upliftingcounselingservices.com</li></a>
            <li><a href="/Schedule"><i class="fa fa-calendar"></i> Schedule</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2" style="text-align:center;">
        <hr>
        <span class="text-muted"><a href="/AdminLogin">Admin Login</a> | Uplifting Counseling Services, LCC, Kadiatu Tarawalie, MA, LPC, NCC</span>
      </div>
    </footer>
  </body>
  <script src="/js/plugins/jquery.validate.js"></script>
  <script src="/js/plugins/additional_methods.js"></script>
  <script>
    $(function(){
        $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active'); $(this).parents('li').addClass('active');
            }
        });
    });
  </script>
