<% layout("/Layouts/default") -%>
<style>
    .to-the-end{
      padding: 0px;
    }
    p{
      color: black;
    }
    body{
      color: #52028E;
    }
  </style>
<body>
  <div class="row">
    <div class="col-md-12 to-the-end" style="margin-bottom:30px;">
      <div class="col-md-8 col-md-offset-2">
        <h1 style="color:purple"><%= title %></h1>
        <p style="font-size: 25px; line-height:40px;">This includes person's aged 20 and above. </p>
        <br>
        <br>
      </div>
        <div class="col-md-12 to-the-end" style="background-color:rgb(113, 206, 252);">
          <div class="col-md-8 col-md-offset-2">
            <br>
            <h2 style="color:white">Common Problems Among Adults</h2>
            <div class="col-md-6" style="font-size: 15px; line-height:40px;">
              <ul>
                <li> Grief and Loss</li>
                <li> Anxiety</li>                       
                <li> Stress management</li>       
                <li> Self-Care</li>    
                <li> Depression</li>             
                <li> Anxiety</li>      
                <li> Divorce</li>   
                <li> Bipolar</li>
              </ul>
            </div>
            <div class="col-md-5" style="font-size: 15px; line-height:40px; margin-bottom: 20px;">
              <ul>
                <li> Parenting</li>        
                <li> Emotional issues related to living with a chronic medical issue</li> 
                <li> Emotional issues related to Immigration, etc.</li>    
                <li> Trauma/PTSD</li>    
                <li> Life Transitions</li>
                <li> Body Weight related issues</li> 
                <li> Gambling</li>
                <li> Relationship Issues</li>
                <li> etc.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
  