<% layout("/Layouts/default") -%>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12" style="margin-bottom:30px;">
          <body>
              <h1><%= title %></h1>
            </body>
      </div>
    </div>
  </div>
  <div id="areas_of_focus" style="text-align:center; margin-top: 400px; margin-left: 100px; width: 88%; font-size:20px">
      <h1 style="color:rgb(211, 0, 0)">Areas of Focus</h1>
      <div id="top" style="margin-bottom: 450px">
        <p>I am open to working with clients from any origin including, African-American, Caucasian, Latino, Asian, Native American, Bi-racial, etc. 
          Likewise I can work with Clients from any religious background, including, Christian, Muslim, Hindu, Buddhist, Atheist, Sikh, Jewish, etc.</p>
          <div style="float: left; width: 45%; border: solid black 2px; border-radius: 20px; padding: 10px;">
              <h3 style="color:rgb(211, 0, 0)">Preteens / Tweens (11 to 13) </h3>
              <p style="font-size: 15px; line-height:20px;">Trauma/PTSD<br>
                Building Self Esteem<br>     
                Body Awareness<br>   
                Depression<br>     
                Anxiety<br>
                Identifying and Creating Coping Skills<br>       
                Communication Skills<br>    
                Bullying<br>   
                Racial identity issues<br>     
                School issues<br>    
                Peer Relationships<br> 
                Hygiene /ADL skills<br>   
                Family Conflicts<br>
                Emotional issues related to Immigration<br>
                Substance Use<br>
                Fire Setting Behavior<br>
                etc.</p>
          </div>
          <div style="float: right; width: 45%; border: solid black 2px; border-radius: 20px; padding: 10px;">
              <h3 style="color:rgb(211, 0, 0)">Adolescents / Teenagers (14 to 19) </h3>
              <p style="font-size: 15px; line-height:20px;">Trauma/PTSD<br>
                Bullying<br>     
                Self-Esteem<br>   
                Gaming Addiction<br>         
                Dating<br>
                Oppositional Behavior<br>            
                Truancy /School Related Issues<br>             
                Conduct behavior<br>
                Anger issues<br>
                Court involved (DCPP)<br>        
                Family Conflict<br>     
                Body Awareness<br>
                Depression<br>                    
                Anxiety<br>                       
                Suicidal ideation<br>    
                Eating Disorder<br>
                Substance Use<br>   
                Coping Skills<br>         
                LGBTQ/Gender Issues<br>         
                Racial Identity Issues<br> 
                Social Media<br>   
                Emotional issues related to Immigration<br>   
                Fire Setting Behavior<br>
                etc.</p>
          </div> <br><br><br>
        </div>
        <div style="float: left; width: 31%; border: solid black 2px; border-radius: 20px; padding: 10px; margin-right:35px">
            <h3 style="color:rgb(211, 0, 0)">Adults </h3>
        </div> 
        <div style="float: left; width: 31%; border: solid black 2px; border-radius: 20px; padding: 10px">
          <h3 style="color:rgb(211, 0, 0)">The Elderly</h3>
        </div>
        <div style="float: right; width: 31%; border: solid black 2px; border-radius: 20px; padding: 10px">
            <h4 style="color:rgb(211, 0, 0)">Persons with Mild/Moderate Developmental/Intellectual Disabilities</h4>
        </div>
    </div>