<% layout("/Layouts/default") -%>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12" style="margin-bottom:30px;">
        <body>
          <h1 style="color:purple"><%= title %></h1>
          <div style="float: left; width: 45%; border: solid black 2px; border-radius: 20px; padding: 10px; margin-right:35px">
              <h3>Common Problems Among Adults </h3>
              <p style="font-size: 15px; line-height:40px;">
              Grief and Loss<br>
              Anxiety<br>                       
              Stress management<br>       
              Self-Care<br>    
              Depression<br>             
              Anxiety<br>      
              Divorce<br>   
              Bipolar<br>
              Parenting<br>        
              Emotional issues related to living with a chronic medical issue<br> 
              Emotional issues related to Immigration, etc.<br>    
              Trauma/PTSD<br>    
              Life Transitions<br>
              Body Weight related issues<br> 
              Gambling<br>
              Relationship Issues<br>
              etc.<br>
              </p>
          </div> 
        </body>
      </div>
    </div>
  </div>
  