<% layout("/Layouts/default") -%>
<style>
    .to-the-end{
      padding: 0px;
    }
    p{
      color: black;
    }
    body{
      color: #52028E;
    }
  </style>
<body>
  <div class="row">
    <div class="col-md-12 to-the-end" style="margin-bottom:30px;">
      <div class="col-md-8 col-md-offset-2">
        <h1 style="color:purple"><%= title %></h1>
        <p style="font-size: 25px; line-height:40px;">I am open to visit your loved one at private residence, Supportive living  apartments ,group home, etc. to provide individual therapy, etc.</p>
        <br>
        <br>
      </div>
        <div class="col-md-12 to-the-end" style="background-color:rgb(113, 206, 252);">
          <div class="col-md-8 col-md-offset-2">
            <br>
            <h2 style="color:white">Common Problems Among People with Disabilities</h2>
            <div class="col-md-6" style="font-size: 15px; line-height:40px;">
              <ul>
                <li> Loss of Independence</li>   
                <li> Separation from family/Friends</li>    
                <li> Anxiety</li>   
                <li> Adjustment Disorders</li>       
                <li> Mood Disorders</li>     
                <li> Self –Esteem Development</li> 
              </ul>  
            </div>
            <div class="col-md-5" style="font-size: 15px; line-height:40px; margin-bottom: 20px;">
              <ul>
                <li> Dating Skills</li>  
                <li> Developing verbal/communication skills</li>    
                <li> Anger Issue</li> 
                <li> Developing Self-Advocacy Skills</li>      
                <li> Developing Independent living skills</li> 
                <li> Establishing an active life and increase community involvement/engagement</li> 
                <li> etc.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
  
  