<% layout("/Layouts/default") -%>
<body>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12" style="margin-bottom:30px;">
        <h1 style="color:purple"><%= title %></h1>
        <div style="float: left; width: 100%;padding: 10px; margin-right:35px; font-size: 20px; line-height: 30px">
          <p>I am open to visit your loved one at private residence, Supportive living  apartments ,group home, etc. to provide individual therapy, etc.</p>
        </div>
        <div style="float: left; width: 45%; border: solid black 2px; border-radius: 20px; padding: 10px; margin-right:35px">
            <h3>Common Problems Among People with Disabilities </h3>
            <p style="font-size: 15px; line-height:40px;">
              Loss of Independence<br>   
              Separation from family/Friends<br>    
              Anxiety<br>   
              Adjustment Disorders<br>       
              Mood Disorders<br>     
              Self –Esteem Development<br>    
              Dating Skills<br>  
              Developing verbal/communication skills<br>    
              Anger Issue<br> 
              Developing Self-Advocacy Skills<br>      
              Developing Independent living skills<br> 
              Establishing an active life and increase community involvement/engagement<br> 
              etc.
            </p>
        </div> 
      </div>
    </div>
  </div>
</body>
  