<% layout("/Layouts/default") -%>
<style>
    .to-the-end{
      padding: 0px;
    }
    p{
      color: black;
    }
    body{
      color: #52028E;
    }
  </style>
<body>
  <div class="row">
    <div class="col-md-12 to-the-end" style="margin-bottom:30px;">
      <div class="col-md-8 col-md-offset-2">
        <h1 style="color:purple"><%= title %></h1>
        <p style="font-size: 25px; line-height:40px;">I am open to visiting your loved ones at the nursing home, Assisted Living Facility, hospital, hospice, private residence, etc., to provide individual therapy.</p>
        <br>
        <br>
      </div>
        <div class="col-md-12 to-the-end" style="background-color:rgb(113, 206, 252);">
          <div class="col-md-8 col-md-offset-2">
            <br>
            <h2 style="color:white">Common Problems Among Elderly</h2>
            <div class="col-md-6" style="font-size: 15px; line-height:40px;">
              <ul>
                <li> Developing skills to maintain a healthy and lively lifestyle</li>          
                <li> Retirement</li>   
                <li> Aging</li>        
                <li> Living with Chronic health issues</li>        
                <li> Loneliness</li>   
              </ul>
            </div>
            <div class="col-md-5" style="font-size: 15px; line-height:40px; margin-bottom: 20px;">
              <ul>
                <li> Depression</li>    
                <li> Anxiety</li>
                <li> Grief related to the death of a spouse</li> 
                <li> Separation from Children/Family</li>
                <li> Emotional issues related to End of life decisions/Hospice care</li>
                <li> etc.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
  