<% layout("/Layouts/default") -%>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12" style="margin-bottom:30px;">
        <body>
          <h1 style="color:rgb(211, 0, 0)"><%= title %></h1>
          <div style="float: left; width: 100%;padding: 10px; margin-right:35px; font-size: 20px; line-height: 30px;">
            <p>I am open to visiting your loved ones at the nursing home, Assisted Living Facility, hospital, hospice, private residence, etc., to provide individual therapy.</p><br>
          </div>
          <div style="float: left; width: 45%; border: solid black 2px; border-radius: 20px; padding: 10px; margin-right:35px">
              <h3>Common Issues Among The Elderly </h3>
              <p style="font-size: 15px; line-height:40px;">
                Developing skills to maintain a healthy and lively lifestyle<br>          
                Retirement<br>   
                Aging<br>        
                Living with Chronic health issues<br>        
                Loneliness<br>   
                Depression<br>    
                Anxiety<br>
                Grief related to the death of a spouse<br> 
                Separation from Children/Family<br>
                Emotional issues related to End of life decisions/Hospice care<br>
                etc.
              </p>
          </div> 
        </body>
      </div>
    </div>
  </div>
  