<% layout("/Layouts/default") -%>
<body>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12" style="margin-bottom:30px;">
          <h1 style="color:purple"><%= title %></h1>
            <div style="float: left; width: 45%; border: solid black 2px; border-radius: 20px; padding: 10px;">
              <h3>Common Problems Among Preteens</h3>
              <p style="font-size: 15px; line-height:40px;">
                Trauma/PTSD<br>
                Building Self Esteem<br>     
                Body Awareness<br>   
                Depression<br>     
                Anxiety<br>
                Identifying and Creating Coping Skills<br>       
                Communication Skills<br>    
                Bullying<br>   
                Racial identity issues<br>     
                School issues<br>    
                Peer Relationships<br> 
                Hygiene /ADL skills<br>   
                Family Conflicts<br>
                Emotional issues related to Immigration<br>
                Substance Use<br>
                Fire Setting Behavior<br>
                etc.
              </p>
          </div>
      </div>
    </div>
  </div>
</body>
  