<% layout("/Layouts/default") -%>
<style>
    .to-the-end{
      padding: 0px;
    }
    p{
      color: black;
    }
    body{
      color: #52028E;
    }
  </style>
<body>
  <div class="row">
    <div class="col-md-12 to-the-end" style="margin-bottom:30px;">
      <div class="col-md-8 col-md-offset-2">
        <h1 style="color:purple"><%= title %></h1>
        <p style="font-size: 25px; line-height:40px;">This includes person's aged between 14 and 19 years. </p>
        <br>
        <br>
      </div>
        <div class="col-md-12 to-the-end" style="background-color:rgb(113, 206, 252);">
          <div class="col-md-8 col-md-offset-2">
            <br>
            <h2 style="color:white">Common Problems Among Teens</h2>
            <div class="col-md-4" style="font-size: 15px; line-height:40px;">
              <ul>
                <li> Trauma/PTSD</li>
                <li> Bullying</li>     
                <li> Self-Esteem</li>   
                <li> Gaming Addiction</li>         
                <li> Dating</li>
                <li> Oppositional Behavior</li>            
                <li> Truancy /School Related Issues</li>             
                <li> Conduct behavior</li>
              </ul>
            </div>
            <div class="col-md-4" style="font-size: 15px; line-height:40px; margin-bottom: 20px;">
              <ul> 
                <li> Anger issues</li>
                <li> Court involved (DCPP)</li>        
                <li> Family Conflict</li>     
                <li> Body Awareness</li>       
              </ul>
            </div>
            <div class="col-md-3" style="font-size: 15px; line-height:40px;">    
              <ul> 
                <li> LGBTQ/Gender Issues</li>         
                <li> Racial Identity Issues</li> 
                <li> Social Media</li>   
                <li> Emotional issues related to Immigration</li>   
                <li> Fire Setting Behavior</li>
                <li> etc.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>