<% layout("/Layouts/default") -%>
<body>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12" style="margin-bottom:30px;">
        <h1 style="color:purple"><%= title %></h1>
        <div style="float: left; width: 45%; border: solid black 2px; border-radius: 20px; padding: 10px;">
            <h3>Common Problems Among Teens</h3>
            <p style="font-size: 15px; line-height:40px;">
              Trauma/PTSD<br>
              Bullying<br>     
              Self-Esteem<br>   
              Gaming Addiction<br>         
              Dating<br>
              Oppositional Behavior<br>            
              Truancy /School Related Issues<br>             
              Conduct behavior<br>
              Anger issues<br>
              Court involved (DCPP)<br>        
              Family Conflict<br>     
              Body Awareness<br>
              Depression<br>                    
              Anxiety<br>                       
              Suicidal ideation<br>    
              Eating Disorder<br>
              Substance Use<br>   
              Coping Skills<br>         
              LGBTQ/Gender Issues<br>         
              Racial Identity Issues<br> 
              Social Media<br>   
              Emotional issues related to Immigration<br>   
              Fire Setting Behavior<br>
              etc.
            </p>
        </div>
      </div>
    </div>
  </div>
</body>