<% layout("/Layouts/default") -%>
<style>
	body {
		background-color: white;
	}
	
	.portlet .portlet-content {
		border: 1px solid white;
	}
</style>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12" style="margin-bottom:30px;">
          <body>
              <h1><%= title %></h1>
            </body>
      </div>
    </div>
  </div>

