<% layout("/Layouts/default") -%>
<style>
	textarea {
  width: 300px;
  height: 100px;
	}
</style>
<body>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
			<% if (message == 1) { %>
				<div class="alert alert-success col-sm-12">You successfully added a new certification.</div>
			<% } %>
			<form id="update_quote" class="form-horizontal" role="form" method="post" action="/AdminPanel/PostCerts"> 
				<div style="margin-bottom: 25px" class="input-group">
					<h2>Certification Name</h2>
					<div style="margin-bottom: 10px">
						<input id="qualification" type="text" class="form-control" name="qualification_name" value=>
					</div>
					<br>
					<div style="margin-bottom: 10px">
						<h2>Type of Certification</h2>
						<select id="type" class="form-control"  name="type">
							<option value="1">QUALIFICATIONS</option>
							<option value="2">TRAININGS/CERTIFICATIONS</option>
							<option value="3">MEMBERSHIPS/AFFILIATIONS</option>
						</select>
					</div>
				</div>
				<div style="margin-top:10px" class="form-group">
					<div class="col-sm-12 controls">
						<button id="btn-login" type="submit" class="btn btn-success">Add Certification</button>
					</div>
				</div>
			</form>
    </div>
  </div>
</body>
