<% layout("/Layouts/default") -%>
<style>
	textarea {
  width: 800px;
  height: 460px;
	}
</style>
<body>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
			<% if (message == 1) { %>
				<div class="alert alert-success col-sm-12">You successfully added a blog post.</div>
			<% } %>
			<form id="post_blog" class="form-horizontal" role="form" method="post" action="/AdminPanel/PostBlog"> 
				<div style="margin-bottom: 25px" class="input-group">
					<h2>Title</h2>
					<div style="margin-bottom: 10px">
						<input id="title" type="text" class="form-control" name="title" value=>
					</div>
					<br>
				<h2>Author</h2>
					<div style="margin-bottom: 10px">
						<input id="author" type="text" class="form-control" name="author" value=>
					</div>
					<h2>Content</h2>
					<textarea id="blogcontent" name="blogcontent"></textarea>
				</div>
				<div style="margin-top:10px" class="form-group">
					<div class="col-sm-12 controls">
						<button id="add_blog" type="submit" class="btn btn-success">Add Blog</button>
					</div>
				</div>
			</form>
    </div>
  </div>
</body>
