<% layout("/Layouts/default") -%>
<style>
	textarea {
  width: 300px;
  height: 100px;
	}
</style>
<body>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
			<% if (message == 1) { %>
				<div class="alert alert-success col-sm-12">You successfully added a blog post.</div>
			<% } %>
			<form id="update_quote" class="form-horizontal" role="form" method="post" action="/PostQuote"> 
				<div style="margin-bottom: 25px" class="input-group">
					<h2>Username</h2>
					<div style="margin-bottom: 10px" class=""form-control">
						<input id="username" type="text" class="form-control" name="username" value=<%= username %>>
					</div>
					<br>
					<div style="margin-bottom: 10px" class=""form-control">
						<h2>Password</h2>
						<input id="password" type="hidden" class="form-control" name="password" value=<%= password %>>
					</div>
					<div style="margin-bottom: 10px" class=""form-control">
						<h2>Confirm Password</h2>
						<input id="password_confirm" type="hidden" class="form-control" name="password_confirm" value=<%= password %>>
					</div>
				</div>
				<div style="margin-top:10px" class="form-group">
					<div class="col-sm-12 controls">
						<button id="btn-login" type="submit" class="btn btn-success">Add Blog</button>
					</div>
				</div>
			</form>
    </div>
  </div>
</body>
