<% layout("/Layouts/default") -%>
<body>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-12 to-the-end" id="top" style="margin-bottom: 50px; background-color: rgb(113, 206, 252)">
            <div class="col-md-8 col-md-offset-2" style="margin-top: 30px; margin-bottom: 30px">
              <h2 style="color:white">Admin Panel</h2>
              <br>
              <br>
              <div class="col-md-6">
                  <a href="/AdminPanel/EditQuote"><h3>Edit Quotes </h3></a>
              </div>
              <div class="col-md-6">
                  <a href="/AdminPanel/EditTime"><h3>Edit Avaiability Time </h3></a>
              </div> <br><br><br><br><br>
              <div class="col-md-4" style="border-radius: 20px; padding: 10px; margin-right:35px">
                  <a href="/AdminPanel/AddBlog"><h3>Edit Quotes </h3></a>
              </div> 
            </div>
          </div>
    </div>
  </div>
</body>