<% layout("/Layouts/default") -%>
<div class="row">
	<div class="col-md-12">
		<div class="error-container">
			<div class="error-code">
				ACCESS DENIED
			</div> 
			<div class="error-details">
				<h4>ACCESS DENIED</h4>
				<p>You do not have permission to access this page</p>        
			</div>
		</div>
	</div>
</div>



