<% layout("/Layouts/default") -%>
<style>
	body {
		background-color: white;
	}
	d
	.portlet .portlet-content {
		border: 1px solid white;
	}
</style>
<div class="row">
	<div class="col-md-12">

		<div class="error-container">

			<div class="error-code">
				404
			</div> <!-- /.error-code -->

			<div class="error-details">
				<h4>Oops, You're lost.</h4>
				<p>We can not find the page you're looking for. Is there a typo in the url? Or try the search bar below</p>

				<form action="./" class="form">
					<div class="input-group">
							<input type="text" class="form-control" placeholder="Search...">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>

