<% layout("/Layouts/default") -%>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12" style="margin-bottom:30px;">
          <body>
              <div id="about" style= "font-size: 20px; line-height:40px;">
                <h1 style="color:purple"><%= title %></h1>
                <img src="/images/profile.jpg" align=left height=200  width=160 style="margin-right:20px;">
                <p style="width: 80%;float:left">My name is Kadiatu Tarawalie. I migrated to the United States in 2000 as a refugee from Sierra Leone. 
                  Growing up I have always had a desire to help others. This included all different types of things such as  
                  volunteering to babysit for  family members so that they can have some down time away from their children; volunteering at a local catholic school helping 
                  at risk boys learn to read and write, working at a group home for adults with developmental disabilities, etc.</p>
                <p style="width: 55%; clear:both; float:left">  &emsp; This passion is what led me to 
                  graduating from Rutgers University with Honors in psychology and also obtained my masters in clinical mental
                  health counseling from Fairleigh Dickinson University.Since then, I have worked in a variety of clinical 
                  settings including, Specialty Group Homes for At-risk Youths, Psychiatric Hospital, IOP, Partial Care, 
                  IDD Group Homes ,etc. In addition, I have experience in counseling with diverse clientele; helping
                  and supporting them to overcome different life’s obstacles to achieve success, health, stability and happiness. 
                  Working with people to achieve their life's dreams and aspirations is something I truly enjoy and feel privileged 
                  to be able to do such work. <br>&emsp; I’m very understanding, Non-Judgmental and highly empathetic person who enjoys 
                  helping others succeed; as such I look forward to working with you to achieve your best life possible!! 
                  Additionally, I am a mother to my wonderful daughter who has added value and meaning to my life. 
                  I enjoy spending time with friends, family, reading, going to the movies and traveling, etc.</p>
              </div>
              <div id="qualifications" style= "font-size: 20px; line-height: 40px; float:right; background-color: rgb(245, 209, 156); padding: 20px; border: solid black 2px; border-radius: 25px; width: 40%">
                  <p style="color:purple;"><b>QUALIFICATIONS:</b></p>
                  <b>License Professional Counselor:</b> 37PC00675800 (NJ) <br>
                  <b>National Certified Counselor:</b> 347096 <br>
                  <p style="color:purple;"><b>TRAININGS/CERTIFICATIONS:</b></p>
                  <b>Certified Nurtured Heart Trainer</b> <br>
                  <b>Certification in TF-CBT (Trauma-Focused Cognitive Behavioral Therapy)</b>
                  <p style="color:purple;"><b>MEMBERSHIPS/AFFILIATIONS</p></b></p>
                  <b>ACA (American Counseling Association)</b><br>
                  <b>NJCA (New Jersey Counseling Association)</b> <br>
                  <b>NADD (An Association for persons with developmental and mental health needs)</b>
              </div>
            </body>
      </div>
    </div>
  </div>
