<% layout("/Layouts/default") -%>
<body>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12" style="margin-bottom:30px;">
        <div id="about" style= "font-size: 20px; line-height:40px;">
          <h1 style="color:purple"><%= title %></h1>
          <img src="/images/profile.jpg" align=left height=200  width=160 style="margin-right:20px;">
          <p style="width: 80%;float:left">My name is Kadiatu Tarawalie. I migrated to the United States in 2000 as a refugee from Sierra Leone. 
            Growing up I have always had a desire to help others. This included all different types of things such as  
            volunteering to babysit for  family members so that they can have some down time away from their children; volunteering at a local catholic school helping 
            at risk boys learn to read and write, working at a group home for adults with developmental disabilities, etc.</p>
          <p style="width: 55%; clear:both; float:left">  &emsp; This passion is what led me to 
            graduating from Rutgers University with Honors in psychology and also obtained my masters in clinical mental
            health counseling from Fairleigh Dickinson University.Since then, I have worked in a variety of clinical 
            settings including, Specialty Group Homes for At-risk Youths, Psychiatric Hospital, IOP, Partial Care, 
            IDD Group Homes ,etc. In addition, I have experience in counseling with diverse clientele; helping
            and supporting them to overcome different life’s obstacles to achieve success, health, stability and happiness. 
            Working with people to achieve their life's dreams and aspirations is something I truly enjoy and feel privileged 
            to be able to do such work. <br>&emsp; I’m very understanding, Non-Judgmental and highly empathetic person who enjoys 
            helping others succeed; as such I look forward to working with you to achieve your best life possible!! 
            Additionally, I am a mother to my wonderful daughter who has added value and meaning to my life. 
            I enjoy spending time with friends, family, reading, going to the movies and traveling, etc.</p>
        </div>
        <div id="qualifications" style= "font-size: 15px; line-height: 40px; float:right; color:white; background-color: rgb(113, 206, 252); padding: 20px; border: solid transparent 2px; border-radius: 25px; width: 40%">
          <p style="color:#52028E;"><b>QUALIFICATIONS:</b></p>
						<% for (var i = 0; i < qualifications.length; i++) { %>
							<b><%= qualifications[i].qualification_name %></b> <br>
						<% } %>
          <p style="color:#52028E;"><b>TRAININGS/CERTIFICATIONS:</b></p>
						<% for (var i = 0; i < certifications.length; i++) { %>
							<b><%= certifications[i].qualification_name %></b> <br>
						<% } %>    
					<p style="color:#52028E;"><b>MEMBERSHIPS/AFFILIATIONS:</p></b></p>
						<% for (var i = 0; i < memberships.length; i++) { %>
							<b><%= memberships[i].qualification_name %></b> <br>
						<% } %>   
        </div>
      </div>
      <div class="col-md-12">
        <br>
        <hr>
        <br>
      </div>
      <div class="col-md-8">
        <h2 style="color: purple">Send Me Your Questions</h2>
        <p style="font-size: 20px;">
        I will attempt to return your message as soon as possible.
        </p>
        <br>
        <label style="font-size: 20px;">Name: </label>
        <br>
        <input type="text" id="name" class="form-control" name="name" required="">
        <br>
        <br>
        <label style="font-size: 20px;">Subject: </label>
        <br>
        <input type="text" id="subject" class="form-control" name="subject" required="">
        <br>
        <br>
        <label style="font-size: 20px;">Message: </label>
        <textarea id="message" class="form-control" name="message" rows="3" required=""></textarea>
        <br>
        <br>
        <button type="button" id="submit_mail" class="btn btn-info submit_mail">Submit</button>
      </div>
    </div>
  </div>
</body>
<script>
  $(document).ready(function() {
    $('#submit_mail').click(function() {
      var subject= document.getElementById('subject').value
      var name= document.getElementById('name').value
      var message= document.getElementById('message').value
      var body = "Dear Kadiatu, "+"%0D%0A"+message+ "%0D%0A %0D%0A"+"Thank you,"+"%0D%0A %0D%0A %0D%0A"+name
      window.location.href = "mailto:kadiatutarawalie2000@gmail.com ?subject="+subject+"&&body="+body;
      })
  })
</script>
