<% layout("/Layouts/default") -%>
<body>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1><%= results.title %></b></h1>
      <br>
				<article>
						<h4><b>By:</b> <%= results.author %> <b>Posted:</b> <%= results.date %></h4>
						<br>
						<h5><%= results.content %></h5>
				</article>
    </div>
  </div>
</body>