<% layout("/Layouts/default") -%>
<body>
	<div class="col-md-12 to-the-end" id="forms" style="font-size:20px; margin-bottom: 30px">
		<div class="col-md-8 col-md-offset-2" style="margin-bottom: 30px">
			<h1 style="color:purple"><%= title %></h1>
			<br>
		</div>
		<div class="col-md-12 to-the-end" id="top" style="margin-bottom: 50px; background-color: rgb(113, 206, 252)">
			<div class="col-md-8 col-md-offset-2" style="margin-top: 30px; margin-bottom: 30px">
				<br>
				<br>
				<div class="col-md-6">
						<a href="/download/intake_form.docx"><h3>Intake Form </h3></a>
				</div>
				<div class="col-md-6">
						<a href="/download/informed_consent.docx"><h3>Informed Consent Form </h3></a>
				</div> <br><br><br><br><br>
				<div class="col-md-6" style="border-radius: 20px; padding: 10px; margin-right:35px">
						<a href="/download/payment_agreement_form.docx"><h3>Payment Agreement Form </h3></a>
				</div> 
			</div>
		</div>
	</div>
</body>