<% layout("/Layouts/default") -%>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12" style="margin-bottom:30px;">
          <body>
              <div id="service-content" style="line-height:40px;">
                <div id="services" style="text-align:center; margin-left: 100px; width: 88%; font-size:20px; margin-bottom: 100px">
                    <h1 style="color:rgb(211, 0, 0)">Services</h1><br>
                    <div style="float: left; width: 45%; border: solid black 2px; border-radius: 20px; padding: 10px; margin-right:35px; margin-bottom: 100px">
                        <h2 style="color:rgb(211, 0, 0)">Modality: </h2>
                        <p style="font-size: 20px">Individual Counseling<br>
                          Group Counseling<br>
                          Experiential Therapy: including music, Aromatherapy, Poetry, etc.</p>
                    </div>
                    <div style="float: right; width: 45%; border: solid black 2px; border-radius: 20px; padding: 10px;">
                        <h2 style="color:rgb(211, 0, 0)">Clinical Assessment Services: </h2>
                        <p style="font-size: 20px">Biopsychosocial Assessments<br>
                          Fire Setting Assessments<br>
                          Strength and Needs Assessments</p><br>
                    </div><br>
                    <div style="float: left; width: 100%; border: solid black 2px; border-radius: 20px; padding: 10px;">
                        <h2 style="color:rgb(211, 0, 0)">Workshops and in Service Training</h2>
                        <p style="font-size: 25px;"><b>I can provide in service trainings and Workshops for Employees and workers alike in different 
                          business, schools, Day Programs (Adults and IDD), and agencies, including, 
                          Police Stations, Nursing Homes, Social Service Agencies, etc.</b></p>
                        <p style="font-size: 20px;">Self-Care Workshops <br>
                            Establishing a work life balance <br>
                            Managing difficult Clients/Family members<br>
                            Healthy way to cope with Transference/Counter Transference</p>
                    </div>
                </div>
              </div>
            </body>
      </div>
    </div>
  </div>
